
<body>

  <div class="background-container">
    <div class="left-side"></div>

    <div class="right-side">
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Select Wisely</h5>
          </div>
          <div class="card-body">
            <ul class="features-list">
              <li>Compare & Choose the Best Offer</li>
              <li>Check Loan Amount Eligibility</li>
              <li>Know your Approval Chances</li>
            </ul>
          </div>
        </div>

        <div class="loan-links mt-5">
          <!-- Add your logic for loan links here -->
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
