<h1> Show loan application  in details</h1>

<p><strong> Name: </strong> <%= @loan.name %></p> 
<p><strong> Purpose: </strong> <%= @loan.purpose %></p>
<p><strong> Ampunt: </strong> <%= @loan.amount %></p>
<p><strong> SSN: </strong> <%= @loan.ssn %></p>