/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Add this line at the top of the file */
 @import 'bootstrap';
 @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");


/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:white;
    font-size: 14px;

}

/* Shared Styles */
.loan-links {
    margin-top: 20px;
    text-align: center;
}

.loan-links a {
    margin: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loan-form-container{
    max-width: 100% !important;
    width: 100% !important;
}

.about-us {
    text-align: justify;
    color: #555;
    line-height: 1.6;
}

/* Main Layout Styles */
.background-container {
    display: flex;
    height: 100%;
}

.nav-bar-btns{
    margin-right: 20px !important;
}

.left-side {
    background-image: url('/assets/abtbackgd.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    overflow: hidden;
    position: fixed;
    height: 100%;
}

.right-side {
    width: 50%;
    margin-left: 50%;
    padding: 20px;
    background-color: #add8e6;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card Styles */
.card {
    border: none;
}

.card-header {
    background-color: #63ace5;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 15px;
}

.card-title {
    color: #08085B!important;
    font-size: 24px;
    font-weight: bold;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features-list li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

/* Table Styles */
h4 {
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid black;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn-action {
    text-decoration: none !important;
    margin-right: 5px;
}

.button, .deletebutton {
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
}

.deletebutton {
    width: 100px;
}

.button:hover, .deletebutton:hover {
    background-color: #c82333 !important;
}

/* Form Styles */
h2 {
    color: #333;
    text-align: center;
}

.loan-form {
    max-width: 400px;
    margin: 0 auto;
}

.field {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.submit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

/* Miscellaneous Styles */
.logo {
    max-width: 70px;
    margin-right: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-label {
    text-transform: capitalize;
}

.no-underline {
    margin-left: 20px;
    text-decoration: none;
}


  .no-records {
    margin-top: 20px;
    text-align: center;
  }

  .appealing-message {
    color: #888;
  }

  .card1 {
    border-radius: 10px;
    background-color: #d8d8d8 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* adjust the values as needed */
}

  .card-title{

    color:black;

  }

  .flash-notice {
    font-size: 18px;
    color: #222c21; 
    background-color: #adf796;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .flash-notice em {
    font-style: normal;
    font-weight: bold;
    color: #58e944; 
  
  }
  .flash-alert {
    font-size: 18px;
    color: #d9534f; 
    background-color: #f2dede; 
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .flash-alert em {
    font-style: normal;
    font-weight: bold;
    color: #a94442; 
  }
  

  .flash-notice:hover,
  .flash-alert:hover {
    box-shadow: 0 8px 16px rgba(52, 55, 52, 0.3); 
    transform: translateY(-2px); 
  }

  .button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  .text-right {
    text-align: right;
  }

  th {
    text-align: center;
  }
  
  .LoanApptext{
    color: #fff;
    padding: 15px;
    font-size: 24px;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
  }

  .PageTitles{
    font-size: 20px;
    margin-left:50px;
    margin-top:20px;

  }


//  datatable 


.wrapper {
    margin-top: 5vh;
  }
  
  .dataTables_filter {
    float: right;
  }
  
  .table-hover > tbody > tr:hover {
    background-color: #ccffff;
  }
  
  @media only screen and (min-width: 768px) {
    .table {
      table-layout: fixed;
      max-width: 100% !important;
    }
  }
  
  thead {
    background: #ddd;
  }
  
  .table td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .highlight {
    background: #ffff99;
  }
  
  @media only screen and (max-width: 767px) {
    /* Force table to not be like tables anymore */
    table,
  thead,
  tbody,
  th,
  td,
  tr {
      display: block;
    }
  
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr,
  tfoot tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50% !important;
    }
  
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  
    .table td:nth-child(1) {
      background: #ccc;
      height: 100%;
      top: 0;
      left: 0;
      font-weight: bold;
    }
  
    /*
    Label the data
    */
    td:nth-of-type(1):before {
      content: "Name";
    }
  
    td:nth-of-type(2):before {
      content: "Position";
    }
  
    td:nth-of-type(3):before {
      content: "Office";
    }
  
    td:nth-of-type(4):before {
      content: "Age";
    }
  
    td:nth-of-type(5):before {
      content: "Start date";
    }
  
    td:nth-of-type(6):before {
      content: "Salary";
    }
  
    .dataTables_length {
      display: none;
    }
  }

//   NavBar

.navbar-dark {
    background-color: #08085B!important;
}

.navbar-nav .welcome-text {
    color: white !important;
    font-size: 16px;
    margin-right: 20px;
    float: left;
  }

  .all_btn{
    width: 100px;
    padding: 10px !important;
    background-color:#08085B !important;
  }

  #loans-table {
    width: 100% !important;
  }